.App {
  text-align: center;
}

.yellow-nav {
  display: flex;
  background: rgb(255, 191, 42);
  width: 100vw;
  justify-content: center;
  color: white;
}

.share {
  color: rgb(255, 146, 7);
}

.modal {
  margin-top: 20px;
  padding: 20px;
  background: rgb(238, 238, 238);
  text-align: left;
}

.div {
  box-sizing: border-box;
}

.list {
  padding-left: 20px;
  text-align: left;
  border-bottom: 1px solid grey;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.deleteButton {
  margin-bottom: 1rem;
}

.reportArea {
  width: 12.5rem;
  padding: .625rem;
  margin-top: 1.25rem;
}

.reportButton {
  width: 13.9rem;
  background-color: rgb(255, 191,42);
  border-color: transparent;
  border-radius: 5px;
  padding: .3125rem .9375rem .3125rem .9375rem;
}