.App {
  text-align: center;
}

.yellow-nav {
  display: flex;
  background: #ffbf2a;
  width: 100vw;
  justify-content: center;
  color: white;
}

.share {
  color: #ff9207;
}

.modal {
  margin-top: 20px;
  padding: 20px;
  background: #eeeeee;
  text-align: left;
}

.div {
  box-sizing: border-box;
}

.list {
  padding-left: 20px;
  text-align: left;
  border-bottom: 1px solid grey;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.deleteButton {
  width: 2.5rem;
  height: 1.5rem;
  margin-bottom: 1rem;
  background-color: #ffbf2a;
  border-color: transparent;
  border-radius: 5px;
}

.reportArea {
  width: 12.5rem;
  padding: .625rem;
  margin-top: 1.25rem;
}

.reportButton {
  width: 13.9rem;
  background-color: #ffbf2a;
  border-color: transparent;
  border-radius: 5px;
  padding: .3125rem .9375rem .3125rem .9375rem;
}

.sortButton {
  margin: 10px;
  background-color: transparent;
  border-color: #ffbf2a;
  border-radius: 5px;
  padding: .3125rem .9375rem .3125rem .9375rem;
}

.recommendButton {
  margin: 10px;
  background-color: transparent;
  border-color: #ffbf2a;
  border-radius: 5px;
  padding: .3125rem .9375rem .3125rem .9375rem;
}